# Bases de datos en Python

## Índice
1. [Acceso a bases de datos relacionales](#sql)
2. [Crear bases de datos relacionales](#crear)
3. [Bases de datos NoSQL](#nosql)

<a id="sql"></a>
## Acceso a bases de datos relacionales

Podemos acceder a bases de datos SQL con la librería `pymysql`. Para instalarla escribimos en Anaconda Prompt:  
`conda install -c anaconda pymysql`

#### Ejemplo 1
Vamos a conectarnos a la base de datos NBA, que contiene estadísticas de partidos de una temporada.  
Utilizaremos los siguientes parámetros:  
* servidor: relational.fit.cvut.cz
* usuario: guest
* contraseña: relational  
* base de datos: NBA

<img src="https://relational.fit.cvut.cz/assets/img/datasets-generated/NBA.svg" width="400">  

Vamos a crear una conexión con la base de datos

In [ ]:
database_host = 'relational.fit.cvut.cz'
username = 'guest'
password = 'relational'
database_name = 'NBA'

db = pymysql.connect(database_host,username,password,database_name)
cursor = db.cursor()

La función `connect()` crea una conexión a la base de datos. Un *cursor* nos permite realizar operaciones con los datos almacenados en la base de datos. 

<img src='https://i.ibb.co/L8HH0G5/cursor.png'>  

Una vez creado el cursor, podemos empezar a ejecutar comandos sobre el contenido de la base de datos utilizando el métido `execute()`,

Al ejecutar queries, utilizamos los métodos `fetchone()` (primera fila) o `fectchall()` (todas las filas) para visizar los resultados de las consultas. Para cerrar la conexión, utilizamso el método `close()`

Podemos ver las tablas de la base de datos con la query `SHOW TABLES`

El método `read_sql()` de pandas nos permite crear dataframes a partir de queries. Con este método no es necesario crear un cursor

Obtenemos los jugadores con más de 5 asistencias en algún partido

Obtenemos el TOP 10 jugadores con más asistencias en la temporada

Obtenemos el TOP 10 Equipos con más puntuación media por partido

#### Ejemplo 2
Vamos a conectarnos a la base de datos de los empleados de una empresa  
* servidor: relational.fit.cvut.cz
* usuario: guest
* contraseña: relational  
* base de datos: employees
<img src = 'https://relational.fit.cvut.cz/assets/img/datasets-generated/employee.svg'>

In [ ]:
database_host = 'relational.fit.cvut.cz'
username = 'guest'
password = 'relational'
database_name = 'employee'

db = pymysql.connect(database_host,username,password,database_name)

Obtener el salario máximo, mínimo y medio por género y cargo

<a id="crear"></a>
## Crear bases de datos relacionales

Podemos crear nuestras propias bases de datos utilizando SQLite

Podemos crear tablas con el comando `CREATE TABLE`

Para insertar valores usamos `INSERT INTO`. Siempre que hagamos un cambio en nuestra base de datos, tenemos que confirmarlo utilizando `commit()`

También podemos crear tablas a partir de dataframes

En ocasiones resulta útil guardar los resultados de nuestras queries y no tener que ejecutarlas cada vez que queremos acceder a una tabla. Para ello utilizamos la sentencia VIEW. Con VIEW creamos una vista de una tabla, es decir, obtenemos una tabla temporal que usaremos después.

Para borrar tablas usamos el comando `DROP TABLE`

Para actualizar registros usamos el comando `UPDATE`

Si queremos borrar registros usamos `DELETE`

Existen aplicaciones gratuitas, como [DB Browser for SQLite](https://sqlitebrowser.org/) que nos operar con bases de datos SQL desde una interfaz

<a id="nosql"></a>
## Material Extra: Bases de datos NoSQL (MongoDB)

Las principales diferencias entre SQL y MongoDB son las siguientes: 
<img src='http://4.bp.blogspot.com/-edz2_QrFvCE/UnzBhKZE3FI/AAAAAAAAAEs/bTEsqnZFTXw/s1600/SQL-MongoDB+Correspondence.PNG'>

Vamos a conectarnos a una base de datos en MongoDB, para lo cual debemos instalar las siguientes librerías:  
`conda install -c anaconda pymongo`  
`conda install -c anaconda dnspython`

In [ ]:
from pymongo import MongoClient
import dns

In [ ]:
client = MongoClient("mongodb+srv://test:test@cluster0-czvtb.mongodb.net/admin?retryWrites=true&w=majority")

Nos conectamos a la base de datos [Sample Airbnb](https://docs.atlas.mongodb.com/sample-data/sample-airbnb/). Esta base de datos contiene una única colección llamada listingsAndReviews, que contiene documentos representando detalles de viviendas turísticas en airbnb.

In [ ]:
db = client.get_database('sample_airbnb')

In [ ]:
records = db.listingsAndReviews

In [ ]:
# Contamos los documentos
records.count_documents({})

Para hacer queries se utiliza el método `find()`

In [ ]:
list(records.find())[0]

Filtramos viviendas con 2 baños y 3 dormitorios, con alguna review

In [ ]:
list(records.find({'bathrooms':2,
                  'bedrooms':3,
                  'number_of_reviews':{'$ne':0}}).limit(3))

Puedes encontrar más documentación sobre la librería `pymongo` en https://api.mongodb.com/python/current/